<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>Khit.png</key>
		<dict>
			<key>x</key>
			<integer>450</integer>
			<key>y</key>
			<integer>351</integer>
			<key>width</key>
			<integer>123</integer>
			<key>height</key>
			<integer>185</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>123</integer>
			<key>originalHeight</key>
			<integer>185</integer>
		</dict>
		<key>Kthrow01.png</key>
		<dict>
			<key>x</key>
			<integer>941</integer>
			<key>y</key>
			<integer>192</integer>
			<key>width</key>
			<integer>77</integer>
			<key>height</key>
			<integer>197</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>77</integer>
			<key>originalHeight</key>
			<integer>197</integer>
		</dict>
		<key>Kthrow02.png</key>
		<dict>
			<key>x</key>
			<integer>902</integer>
			<key>y</key>
			<integer>399</integer>
			<key>width</key>
			<integer>117</integer>
			<key>height</key>
			<integer>190</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>117</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>Kthrow03.png</key>
		<dict>
			<key>x</key>
			<integer>802</integer>
			<key>y</key>
			<integer>784</integer>
			<key>width</key>
			<integer>138</integer>
			<key>height</key>
			<integer>190</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>138</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>Kthrow04.png</key>
		<dict>
			<key>x</key>
			<integer>802</integer>
			<key>y</key>
			<integer>584</integer>
			<key>width</key>
			<integer>92</integer>
			<key>height</key>
			<integer>199</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>92</integer>
			<key>originalHeight</key>
			<integer>199</integer>
		</dict>
		<key>Kthrow05.png</key>
		<dict>
			<key>x</key>
			<integer>802</integer>
			<key>y</key>
			<integer>393</integer>
			<key>width</key>
			<integer>96</integer>
			<key>height</key>
			<integer>190</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>96</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>Kthrow06.png</key>
		<dict>
			<key>x</key>
			<integer>802</integer>
			<key>y</key>
			<integer>202</integer>
			<key>width</key>
			<integer>103</integer>
			<key>height</key>
			<integer>190</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>103</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>Mhit.png</key>
		<dict>
			<key>x</key>
			<integer>802</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>137</integer>
			<key>height</key>
			<integer>200</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>137</integer>
			<key>originalHeight</key>
			<integer>200</integer>
		</dict>
		<key>Mthrow01.png</key>
		<dict>
			<key>x</key>
			<integer>657</integer>
			<key>y</key>
			<integer>770</integer>
			<key>width</key>
			<integer>144</integer>
			<key>height</key>
			<integer>208</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>144</integer>
			<key>originalHeight</key>
			<integer>208</integer>
		</dict>
		<key>Mthrow02.png</key>
		<dict>
			<key>x</key>
			<integer>657</integer>
			<key>y</key>
			<integer>578</integer>
			<key>width</key>
			<integer>144</integer>
			<key>height</key>
			<integer>191</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>144</integer>
			<key>originalHeight</key>
			<integer>191</integer>
		</dict>
		<key>Mthrow03.png</key>
		<dict>
			<key>x</key>
			<integer>657</integer>
			<key>y</key>
			<integer>386</integer>
			<key>width</key>
			<integer>144</integer>
			<key>height</key>
			<integer>191</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>144</integer>
			<key>originalHeight</key>
			<integer>191</integer>
		</dict>
		<key>Mthrow04.png</key>
		<dict>
			<key>x</key>
			<integer>657</integer>
			<key>y</key>
			<integer>194</integer>
			<key>width</key>
			<integer>144</integer>
			<key>height</key>
			<integer>191</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>144</integer>
			<key>originalHeight</key>
			<integer>191</integer>
		</dict>
		<key>Mthrow05.png</key>
		<dict>
			<key>x</key>
			<integer>658</integer>
			<key>y</key>
			<integer>2</integer>
			<key>width</key>
			<integer>144</integer>
			<key>height</key>
			<integer>192</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>144</integer>
			<key>originalHeight</key>
			<integer>192</integer>
		</dict>
		<key>Mthrow6.png</key>
		<dict>
			<key>x</key>
			<integer>335</integer>
			<key>y</key>
			<integer>779</integer>
			<key>width</key>
			<integer>144</integer>
			<key>height</key>
			<integer>191</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>144</integer>
			<key>originalHeight</key>
			<integer>191</integer>
		</dict>
		<key>playbutton01.png</key>
		<dict>
			<key>x</key>
			<integer>335</integer>
			<key>y</key>
			<integer>680</integer>
			<key>width</key>
			<integer>132</integer>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>132</integer>
			<key>originalHeight</key>
			<integer>98</integer>
		</dict>
		<key>playbutton03.png</key>
		<dict>
			<key>x</key>
			<integer>335</integer>
			<key>y</key>
			<integer>584</integer>
			<key>width</key>
			<integer>130</integer>
			<key>height</key>
			<integer>95</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>95</integer>
		</dict>
		<key>quitbutton01.png</key>
		<dict>
			<key>x</key>
			<integer>335</integer>
			<key>y</key>
			<integer>467</integer>
			<key>width</key>
			<integer>109</integer>
			<key>height</key>
			<integer>116</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>109</integer>
			<key>originalHeight</key>
			<integer>116</integer>
		</dict>
		<key>quitbutton03.png</key>
		<dict>
			<key>x</key>
			<integer>335</integer>
			<key>y</key>
			<integer>352</integer>
			<key>width</key>
			<integer>110</integer>
			<key>height</key>
			<integer>114</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>114</integer>
		</dict>
		<key>selectK01.png</key>
		<dict>
			<key>x</key>
			<integer>336</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>321</integer>
			<key>height</key>
			<integer>350</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>321</integer>
			<key>originalHeight</key>
			<integer>350</integer>
		</dict>
		<key>selectK02.png</key>
		<dict>
			<key>x</key>
			<integer>15</integer>
			<key>y</key>
			<integer>689</integer>
			<key>width</key>
			<integer>305</integer>
			<key>height</key>
			<integer>334</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>305</integer>
			<key>originalHeight</key>
			<integer>334</integer>
		</dict>
		<key>selectM01.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>342</integer>
			<key>width</key>
			<integer>333</integer>
			<key>height</key>
			<integer>340</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>333</integer>
			<key>originalHeight</key>
			<integer>340</integer>
		</dict>
		<key>selectM02.png</key>
		<dict>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>333</integer>
			<key>height</key>
			<integer>340</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>333</integer>
			<key>originalHeight</key>
			<integer>340</integer>
		</dict>
	</dict>
</dict>
</plist>