<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>Khit.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>671</integer>
			<key>width</key>
			<integer>123</integer>
			<key>height</key>
			<integer>185</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>123</integer>
			<key>originalHeight</key>
			<integer>185</integer>
		</dict>
		<key>KK01.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>89</integer>
			<key>height</key>
			<integer>168</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>89</integer>
			<key>originalHeight</key>
			<integer>168</integer>
		</dict>
		<key>KK02.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>170</integer>
			<key>width</key>
			<integer>93</integer>
			<key>height</key>
			<integer>167</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>93</integer>
			<key>originalHeight</key>
			<integer>167</integer>
		</dict>
		<key>KK03.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>338</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>169</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>86</integer>
			<key>originalHeight</key>
			<integer>169</integer>
		</dict>
		<key>KK04.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>508</integer>
			<key>width</key>
			<integer>81</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>81</integer>
			<key>originalHeight</key>
			<integer>162</integer>
		</dict>
		<key>Kthrow01.png</key>
		<dict>
			<key>x</key>
			<integer>125</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>77</integer>
			<key>height</key>
			<integer>197</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>77</integer>
			<key>originalHeight</key>
			<integer>197</integer>
		</dict>
		<key>Kthrow02.png</key>
		<dict>
			<key>x</key>
			<integer>125</integer>
			<key>y</key>
			<integer>199</integer>
			<key>width</key>
			<integer>117</integer>
			<key>height</key>
			<integer>190</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>117</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>Kthrow03.png</key>
		<dict>
			<key>x</key>
			<integer>125</integer>
			<key>y</key>
			<integer>390</integer>
			<key>width</key>
			<integer>138</integer>
			<key>height</key>
			<integer>190</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>138</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>Kthrow04.png</key>
		<dict>
			<key>x</key>
			<integer>125</integer>
			<key>y</key>
			<integer>581</integer>
			<key>width</key>
			<integer>92</integer>
			<key>height</key>
			<integer>199</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>92</integer>
			<key>originalHeight</key>
			<integer>199</integer>
		</dict>
		<key>Kthrow05.png</key>
		<dict>
			<key>x</key>
			<integer>125</integer>
			<key>y</key>
			<integer>781</integer>
			<key>width</key>
			<integer>96</integer>
			<key>height</key>
			<integer>190</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>96</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>Kthrow06.png</key>
		<dict>
			<key>x</key>
			<integer>264</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>103</integer>
			<key>height</key>
			<integer>190</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>103</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>Mhit.png</key>
		<dict>
			<key>x</key>
			<integer>386</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>137</integer>
			<key>height</key>
			<integer>200</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>137</integer>
			<key>originalHeight</key>
			<integer>200</integer>
		</dict>
		<key>MM01.png</key>
		<dict>
			<key>x</key>
			<integer>264</integer>
			<key>y</key>
			<integer>192</integer>
			<key>width</key>
			<integer>121</integer>
			<key>height</key>
			<integer>165</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>121</integer>
			<key>originalHeight</key>
			<integer>165</integer>
		</dict>
		<key>MM02.png</key>
		<dict>
			<key>x</key>
			<integer>264</integer>
			<key>y</key>
			<integer>358</integer>
			<key>width</key>
			<integer>92</integer>
			<key>height</key>
			<integer>171</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>92</integer>
			<key>originalHeight</key>
			<integer>171</integer>
		</dict>
		<key>MM03.png</key>
		<dict>
			<key>x</key>
			<integer>264</integer>
			<key>y</key>
			<integer>530</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>176</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>82</integer>
			<key>originalHeight</key>
			<integer>176</integer>
		</dict>
		<key>MM04.png</key>
		<dict>
			<key>x</key>
			<integer>264</integer>
			<key>y</key>
			<integer>707</integer>
			<key>width</key>
			<integer>92</integer>
			<key>height</key>
			<integer>167</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>92</integer>
			<key>originalHeight</key>
			<integer>167</integer>
		</dict>
		<key>Mthrow01.png</key>
		<dict>
			<key>x</key>
			<integer>386</integer>
			<key>y</key>
			<integer>202</integer>
			<key>width</key>
			<integer>144</integer>
			<key>height</key>
			<integer>208</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>144</integer>
			<key>originalHeight</key>
			<integer>208</integer>
		</dict>
		<key>Mthrow02.png</key>
		<dict>
			<key>x</key>
			<integer>386</integer>
			<key>y</key>
			<integer>411</integer>
			<key>width</key>
			<integer>144</integer>
			<key>height</key>
			<integer>191</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>144</integer>
			<key>originalHeight</key>
			<integer>191</integer>
		</dict>
		<key>Mthrow03.png</key>
		<dict>
			<key>x</key>
			<integer>386</integer>
			<key>y</key>
			<integer>603</integer>
			<key>width</key>
			<integer>144</integer>
			<key>height</key>
			<integer>191</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>144</integer>
			<key>originalHeight</key>
			<integer>191</integer>
		</dict>
		<key>Mthrow04.png</key>
		<dict>
			<key>x</key>
			<integer>386</integer>
			<key>y</key>
			<integer>795</integer>
			<key>width</key>
			<integer>144</integer>
			<key>height</key>
			<integer>191</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>144</integer>
			<key>originalHeight</key>
			<integer>191</integer>
		</dict>
		<key>Mthrow05.png</key>
		<dict>
			<key>x</key>
			<integer>531</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>144</integer>
			<key>height</key>
			<integer>192</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>144</integer>
			<key>originalHeight</key>
			<integer>192</integer>
		</dict>
		<key>Mthrow6.png</key>
		<dict>
			<key>x</key>
			<integer>531</integer>
			<key>y</key>
			<integer>194</integer>
			<key>width</key>
			<integer>144</integer>
			<key>height</key>
			<integer>191</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>144</integer>
			<key>originalHeight</key>
			<integer>191</integer>
		</dict>
	</dict>
</dict>
</plist>